body{
  text-align: center;
}
.Header{
  font-family: 'Pacifico', cursive;
  margin-top: 40px;
  margin-left: 50px;
  font-weight: 300;
  font-size: 30px;
}
.SearchInput{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#search-button{
  opacity: 0;
  
}

#search-input:focus {
  outline: 0;
  background: antiquewhite;
}
#search-input:not(:placeholder-shown) ~ #search-button {
  opacity: 1;
}

.category{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 495px;
  margin: 0 auto;
  margin-top: 40px;
}
.image-click{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image-row{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-evenly;
}
/* img:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
} */
.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.zoomin img:hover {
  width: 300px;
  height: 300px;
}
.Footer{
  margin-top: 80px;
}
@media (max-width: 829px){
  .image-click{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
   
  }
  .image-row{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-evenly;
   
  }
  
}
.results-container{
  display: flex;
  flex-flow: wrap;
  margin-left: 250px;

}
.result-item{
  position: relative;
  padding: 16px;
  border: 1px solid #898989;
  margin: 16px;
  text-align: center;
  min-width: 200px;
  box-shadow: 2px 2px 2px #898989;
}
